# MacOS
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/

# Editor files
.vscode/
.idea/

# pytest
.pytest_cache/

# pyenv
.python-version

# nim executables
2020/day01/report_repair
2020/day02/password_philosophy
2020/day03/toboggan_trajectory

# zig
zig-cache
